{% extends 'base.html' %}
{% block content %}
<div class="dashboard-container">
    <h1 class="dashboard-title">Dashboard Overview</h1>
<div style="margin-bottom: 1rem;">
  <label for="rangeSelect">Select time range: </label>
  <select id="rangeSelect">
      <option value="1h">Last 1 Hour</option>
      <option value="24h">Last 24 Hours</option>
      <option value="7d">Last 7 Days</option>
  </select>
</div>

<div id="chartsContainer" class="charts-container">

</div>

<script src="{{ url_for('static', filename='js/dashboard.js') }}?v=1"></script>
<script src="{{ url_for('static', filename='vendor/chart.js') }}?v=1"></script>

{% endblock %}
